/* boilerplate */
html, body, div, span, h1, h2, h3, h4, form, label{
  margin: 0;
  padding: 0;
}
body {
  font-size: 12pt;
  line-height: 1.8em;
  color: #222;
  background: #BCFB30;
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
}

h1,h2,h3,h4,h5,h6 { font-weight: normal; color: #111; }

h1 {
	font-size: 1.7em; 
	line-height: 1; 
	text-align:center;
	margin-bottom: 0.5em;
}
h2 {
	font-size: 1.5em;
	text-align: center;
	margin-bottom: 12px;
}
h3 {
	font-size: 1.5em;
	line-height: 1;
}

td, th { 
	padding: 2px; 
	text-align: left;
}

a img { border: none; }
a {
	color: #5F275A;
} a:hover {
	color: #AA7FA6;
}

li ul {
	margin: 0;
}
ul {
	margin: 0 1.5em 1.5em 0;
	padding-left: 3.333em;
	list-style-type: disc;
}

.messages, .errorlist {
	padding: 0px;
	margin: 0px;
} .messages li, .errorlist li {
	margin-left: 0px;
	background-repeat: no-repeat;
	background-position: 3px 3px;
	color: #333333;
	padding: 2px 2px 2px 25px;
	margin-bottom: 10px;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	list-style-type: none;
} .messages li.success {
	background-image: url('/img/icons/tick.png');
	background-color: #d4f685;
	border: 1px solid #749e1e;
} .messages li.error, ul.errorlist li {
	background-image: url('/img/icons/cross.png');
	background-color: #fdcea4;
	border: 1px solid #c3450a;
}

ul.errorlist li {
	margin-top: 20px;
	margin-bottom: 0px;
}

/********************/
/* stuff comes here */
/********************/
#container {
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
	width: 1015px;
	background-color: #FFF;
	padding: 0px;
	min-height: 150px;
	overflow: hidden;
	min-height: 400px;
	box-shadow: 0px 0px 10px #333333;
}

#sidebar {
	padding: 10px;
	width: 150px;
	position: absolute;
} #sidebar ul {
	margin: 0;
	padding: 0;
	list-style: none;
	list-style-position: outside;
} #sidebar ul li {
	font-size: 1.2em;
	margin-bottom: 6px;
} #sidebar ul li a {
	text-decoration: none;
}

#headerblock {
	height: 100px;
	background-color: #5F275A;
} #headerblock h1 {
	padding-top: 30px;
	font-family: 'Indie Flower', arial, serif;
	font-size: 3.5em;
} #headerblock h1 a {
	text-decoration: None;
	color: #AA7FA6;
} 
#header_shadow {
	background-color: #8A5085;
	height: 10px;
}


#content {
	margin-left: 150px;
	padding: 10px;
}

.pagetext {
	padding-top: 20px;
}

.blogrecord {
	margin-top: 1em;
	padding: 0.2em;
} .blogrecord .title {
	font-weight: bold;
	font-size: 1.2em;
	display: inline-block;
} .blogrecord .author {
	font-size: 0.8em;
	color: #888;
	display: inline-block;
	margin-left: 12px;
} .blogrecord .text {
	clear:both;
}

/* Generic form styles*/
.form_container{
	margin:1em auto;

} .form_container .item{
	margin:6px;
}.form_container .item label{
		display:inline-block;
		font-size:0.8em;
		color:#666;
		line-height: 18px;
		height:18px;
}.form_container .field input, .form_container .field textarea{
		border:1px solid #666;
		font-size: 1.2em;
		background-color: #EEE;
		font-family: arial,sans-serif;
} .form_container .field select {
	font-size: 1.2em;
		font-family: arial,sans-serif;
} .item{clear:both;}
.input_date{
	width:6em;
}
.input_time{
	width:3em;
}

input[type=submit] {
	border: 1px solid #666;
	background-color: #EEE;

}

.guestbook {
} .guestbook .entry {
	margin-bottom: 1em;
} .guestbook .entry .author {
	font-size: 0.8em;
	font-color: #AAA;
	margin-bottom: 0.2em;
} .guestbook .entry .text {
	border: 1px dotted black;
	padding: 2px;
}

.guestbook-form {
	margin-bottom: 24px;
} .guestbook-form .text textarea {
	width: 500px;
	height: 100px;
}

/* single image page */
.single-image {
	overflow: hidden;
} .single-image .image-head {
	overflow: hidden;
} .single-image .image-head .next-image {
	float: right;
} .single-image .image-head .previous-image {
	float: left;
} .single-image .image-head .image-link {
	font-size: 3em;
} .single-image .image-head .image-link a {
	text-decoration: none;
} .single-image .image-head .image-album {
	text-align: center;
	font-size: 0.9;
} .single-image .image-head .image-album a {
	text-decoration: none;
} .single-image .image-container {
	text-align:center;
	margin-bottom: 24px;
} .single-image .image-container .image {
	clear: both;
	padding: 2px;
	border: 1px solid #CCC;
	display: inline-block;
	margin-bottom: 12px;
} .single-image .image-container .date-taken {
	font-size: 0.9em;
	color: #777;
} .single-image .caption-edit {
	overflow: hidden;
	border: 1px solid black;
	margin-bottom: 24px;
} .single-image .caption-edit .form_container {
	margin: 0px;
} .single-image .caption-edit .item {
	float: left;
	clear: none;
} .single-image .caption-edit .submit label {
	visibility: hidden;
} .single-image .comment-form {
	margin-bottom: 24px;
} .single-image .comment-form .comment textarea {
	width: 500px;
	height: 100px;
}

.user-comments {
} .user-comments .user-comment .name {
	float: left;
	display: inline;
	font-size: 1.2em;
	width: 400px;
} .user-comments .user-comment .date {
	color: #999;
	font-size: 0.9em;
	line-height: 1em;
	display: inline;
	float: right;
	margin-left: 20px;
	padding-top: 9px;
} .user-comments .user-comment .comment {
	clear: both;
	padding: 3px;
	margin-top: 10px;
	margin-bottom: 10px;
	border: 1px dotted #BBB;
}


/* single album page and multiple albums page */

.thumb-container {
	text-align:center;
	float: left;
	width: 210px;
	height: 210px;
} .thumb-container .thumb-image {
	padding: 2px;
	border: 1px solid #CCC;
	display: inline-block;
} .thumb-container .thumb-image .image {
} 

/* multiple albums page */
.albums {
	clear: both;
	width: 600px;
} .albums .album {
	border: 1px solid black;
	margin-bottom: 24px;
	height: 230px;
} .albums .album .thumb-container {
	margin-top: 10px;
	vertical-align: middle;
} .albums .album .caption {
	margin-top: 60px;
	margin-right: 30px;
	float: right;
	width: 300px;
} .albums .album .caption .link {
	font-size: 1.5em;
} .albums .album .caption .link a {
	text-decoration: none;
} .albums .album .caption .date_taken {
}

.icon {
    padding-left:20px;
    background: url(/img/icons/add.png) no-repeat center left;
}
.edit{background-image: url(/img/icons/pencil.png);}
.ok{background-image: url(/img/icons/tick.png);}
.notok{background-image: url(/img/icons/cross.png);}
.add{background-image: url(/img/icons/add.png);}
.delete{background-image: url(/img/icons/trash.png);}
