{% extends "base.html" %}
{% load i18n %}
{% block page_heading %}{{ image.title }}{% endblock %}
{% block content %}
<div class="single-image">
	<div class="image-head">
		{% if previous_image %}
		<div class="previous-image image-link">
			<a href="/albums/{{ album.id }}/{{ previous_image.id }}/">&lt;</a>
		</div>
		{% endif %}
		{% if next_image %}
		<div class="next-image image-link">
			<a href="/albums/{{ album.id }}/{{ next_image.id }}/">&gt;</a>
		</div>
		{% endif %}
		<div class="image-album">
			{% trans "Album" %}: <a href="/albums/{{ album.id }}/">{{ album.title }}</a>
		</div>
	</div>

	<div class="image-container">
		<div class="image">
			<img src="{{ image.get_img_url }}" />
		</div>
		<div class="date-taken">
			{{ image.date_taken|date:"j F Y, H:i" }}
		</div>
		{% if image.text %}
		<div class="caption">
			{{ image.text }}
		</div>
		{% endif %}
	</div>

	{% if user.is_authenticated %}
	<div class="caption-edit">
		<form method="POST" action=".">
			{% csrf_token %}
			{% include "base_form.html" with form=titleform include_submit=1 submit_name="submit_settings" submit_value="Save settings" %}
		</form>
	</div>
	{% endif %}

	<div class="user-comments">
		{% for comment in image.imagecomment_set.all %}
		<div class="user-comment">
			<div class="name">{{ comment.name }}</div>
			<div class="date">{{ comment.date|date:"j F, H:i" }}</div>
			<div class="comment">{{ comment.comment|linebreaksbr }}</div>
		</div>
		{% endfor %}
	</div>

	<div class="comment-form">
		<form method="POST" action=".">
			{% csrf_token %}
			{% include "base_form.html" with form=comment_form %}
			<input type="submit" name="submit_comment" value="{% trans 'Add comment' %}" />
		</form>
	</div>

</div>
{% endblock %}


