{% extends "base.html" %}
{% load i18n %}
{% block page_heading %}{{ album.title }}{% endblock %}
{% block content %}
<div class="single-album">
	{% for image in album.images.all %}
	<div class="thumb-container">
		<div class="thumb-image">
			<div "image">
				<a name="img{{image.id}}"></a>
				<a href="{{ image.id }}/#heading"><img src="{{ image.get_thumb_url }}" /></a>
			</div>
			{% if image.text %}
			<div class="caption">
				<a href="{{ image.id }}/#heading">{{ image.text }}</a>
			</div>
			{% endif %}
		</div>
	</div>
	{% endfor %}
</div>
{% endblock %}

