{% extends "base.html" %}
{% load i18n %}
{% block page_heading %}{% if image.title %}{{ image.title }}{% else %}&nbsp;{% endif %}{% endblock %}
{% block head %}
<script type="text/javascript">
$(document).keydown(function(e){
	if (e.keyCode == 37) {  // left arrow key
		var $prev_img = $("#prev-image-link");
		if($prev_img.length) {
			window.location = $prev_img.trigger('click').attr('href');
		}
		return false;
	} else if (e.keyCode == 39 ) { // right arrow key
		var $next_img = $("#next-image-link");
		if($next_img.length) {
			window.location = $next_img.trigger('click').attr('href');
		}
		return false;
	}
});
</script>
{% endblock %}
{% block content %}
<div class="single-image">
	<div class="image-head">
		{% if previous_image %}
		<div class="previous-image image-link">
			<a href="/albums/{{ album.id }}/{{ previous_image.id }}/" id="prev-image-link">&lt;</a>
		</div>
		{% endif %}
		{% if next_image %}
		<div class="next-image image-link">
			<a href="/albums/{{ album.id }}/{{ next_image.id }}/" id="next-image-link">&gt;</a>
		</div>
		{% endif %}
		<div class="image-album">
			{% trans "Album" %}: <a href="/albums/{{ album.id }}/#img{{ image.id }}">{{ album.title }}</a>
		</div>
	</div>

	<div class="image-container">
		<div class="image">
			<img src="{{ image.get_img_url }}" />
		</div>
		<div class="date-taken">
			{{ image.date_taken|date:"j F Y, H:i" }}
		</div>
		{% if image.text %}
		<div class="caption">
			{{ image.text }}
		</div>
		{% endif %}
	</div>

	{% if user.is_authenticated %}
	<div class="caption-edit">
		<form method="POST" action=".">
			{% csrf_token %}
			{% include "base_form.html" with form=titleform include_submit=1 submit_name="submit_settings" submit_value="Save settings" %}
		</form>
	</div>
	{% endif %}

	{% include "comments.html" with comments=image.imagecomment_set form=comment_form %}

</div>
{% endblock %}
