{% extends "html_frame.html" %}
{% load i18n %}

{% block frame_head %}
	<link rel="stylesheet" type="text/css" href="/css/petit.css" />
	{% block head %}{% endblock %}
{% endblock %}


{% block title %}{{ site_title }}{% endblock %}

{% block frame_body %}
<div id="container">
	<div id="headerblock">
		<h1>{{ site_title }}</h1>
	</div>
	<div id="sidebar">
		{% if not hide_sidebar %}
		<ul>
			<li><a href="/">{% trans "Frontpage" %}</a></li>
			<li><a href="/blog/">{% trans "Blog" %}</a></li>
			<li><a href="/albums/">{% trans "Albums" %}</a></li>
			<li><a href="/guestbook/">{% trans "Guestbook" %}</a></li>
			<li><a href="/logout/">{% trans "Log out" %}</a></li>
		</ul>
		{% endif %}
	</div>
	<div id="content">
		<h2>{% block page_header %}{% endblock %}</h2>
		{% block content %}{% endblock %}
	</div>
</div>
{% endblock %}
