{% extends "base.html" %}
{% load i18n %}
{% block page_heading %}{% trans "Guestbook" %}{% endblock %}
{% block content %}
<div class="guestbook">
	<div class="user-comments">
		{% for entry in entries %}
		<div class="user-comment">
			<div class="name">{{ entry.author }}</div>
			<div class="date">{{ entry.date|date:"j F, H:i" }}</div>
			<div class="comment">{{ entry.text }}</div>
		</div>
		{% endfor %}
	</div>

	<div class="guestbook-form">
		<form method="POST" action=".">
			{% csrf_token %}
			{% include "base_form.html" with form=guestbook_form %}
		<input type="submit" name="submit" value="{% trans 'Submit entry' %}" />
		</form>
	</div>
</div>
{% endblock %}

