<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <title>{% block title %}{% endblock %}</title>
        {% block frame_head %}{% endblock %}
        <style type="text/css">
            {% block style %}{% endblock %}
        </style>
    </head>
    <body {% block bodyattr %}{%endblock%}>
        {% block frame_body %}{% endblock %}
    </body>
    {%block frame_foot%}{%endblock%}
</html>
